body {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 80px;
  width: 300px;
  font-size: 40px;
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  outline: none;
  position: relative;
  transition: 1s;
  overflow: hidden;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 10px #3cb371,
              0 0 20px #3cb371, 
              0 0 30px #3cb371;
}

button::before {
  content: "#Dia16";
  color: cornsilk;
  background-color: #3cb371;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition: 0.5s;
  font-weight: bold;
}

button:hover::before {
  transform: translateY(0);
}
