body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 200px;
  height: 200px;
  position: relative;
}

span {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  animation: animate 2s linear infinite;
}

.circle {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: dimgray;
  position: absolute;
}

span:nth-child(2) {
  animation-delay: 1.4s;
}
span:nth-child(1) {
  animation-delay: 0.7s;
}

@keyframes animate {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}